<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/result.css') }}">

    <title>Help</title>
</head>
<body>
    <div class="wrap">
        <div class="container">
            <div class="help_message">
                인스타 맞팔로우를 확인할 수 있는 사이트입니다.<br><br>
                Instagram 아이디, 비밀번호를 입력하면 당신의 맞팔로우 현황을 확인할 수 있으며,<br>
                github 오픈소스로 관리하고있습니다.<br>
                당신의 아이디, 비밀번호는 보호되니까 걱정하지 마세요!<br>
                단, 너무 자주시도하지마세요! 인스타그램에서 로그인 제한을 겁니다!<br>
                <br>
                <hr>
                <br>
                내부 파이썬 모듈을 사용하기때문에 팔로우, 팔로워 수가 많을 수록 로딩되는 시간이 오래걸립니다.<br>

                아이디가 존재하지 않습니다. -> 올바른 아이디로 로그인을 시도해주세요.<br>
                몇분 기다려주세요. -> 너무 자주 로그인을 시도해서 그렇습니다. 나중에 다시 시도해주세요.<br>
                비밀번호가 틀렸습니다. -> 올바른 비밀번호로 로그인을 시도해주세요.<br>
                알 수 없는 오류, 관리자에게 문의해주세요. -> 그 외의 예외로, 직접 문의주시면 해결을 도와드리겠습니다!<br>
                <br><br><br>
                mhibio@gmail.com
                <div class="button_box">
                    <button class="btn" type="button" onClick="location.href='/'">
                        <span>뒤로가기</span>    
                    </button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
